/* Universal styles */

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: block;
}

body {
  display: block;
  margin: 0;
  line-height: 1.4rem;
}

div {
  display: block;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.4;
}

p {
	line-height: 1.25rem;
}

.container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid;
  padding: 2rem 1.5%;
  position: relative;
}

.image-container {
  overflow: hidden;
  border: 1px solid;
}

img {
  display: block;
  width: 100%;
}

.content .section-title {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
}

.header {
  margin-bottom: 1rem;
  line-height: 1.4;
}

/* Header and menu */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 24px;
}

.logo img {
  height: 32px;
  width: 32px;
}

.logo span {
	text-transform: uppercase;
	font-size: 1.5rem;
}

.colmar {
  color: #0E2424;
}

.academy {
  color: lightgrey;
}

header nav {
  padding-right: 16px;
}

nav span {
  display: inline-block;
  padding: 32px 8px;
}

/* Main section */

.main-content {
  position: relative;
  top: 4rem;
  margin: auto;
}

/* Start here */

#start-here {
  background-color: lightgrey;
}

#start-here .image-container {
  width: 60%;
}

#start-here .content {
  margin-left: 1.5rem;
  width: 40%
}

.start-here-button {
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
  color: #FFF;
  margin-top: 1.5rem;
  background-color: #57908A;
  width: 60%;
}

.start-here-button span {
  font-size: 1.5rem;
}

/* Information section*/

#information .content {
  width: 60%;
}

.info-subsection {
  display: flex;
  margin-left: 1.5rem;
  width: 40%;
  border: 1px solid;
  flex-wrap: wrap;
  align-content: space-between;
}

.info-subsection .image-container {
  width: 35%;
  margin-left: auto;
}

.info-subsection img {
  height: 100%;
}

.info-subsection .content {
  width: 65%;
  margin-left: auto;
}

/* Courses */

.items {
  display: flex;
  justify-content: space-around;
  margin: 3em 1em 0 1em;
  flex-wrap: wrap;
  border: 1px solid;
}

.item {
  width: 30%;
  border: 1px solid;
}





/* Footer */

footer {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: white;
}

footer .copyright {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 32px 24px;
}

footer .legal {
  display: inline-block;
  padding-right: 16px;
}

.legal span {
  padding: 32px 8px;
}
